
<ion-grid class="m-o">  

  <ion-row class="colorFondo"> 
    <ion-col size="2" >
      <ion-button (click)="onBack()"> 
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button> 
    </ion-col>
    <ion-col size="8" >
      <h3 class="centrar"> LISTA DE PEDIDOS </h3>
    </ion-col>
    <ion-col size="2" >
      <span></span>
    </ion-col>
  </ion-row> 

  <!-- <ion-row class="BtnVolver ">  -->
    
  
  <ion-list>
    <ion-item *ngFor="let item of list">
      <ion-avatar slot="start">
        <ion-img [src]="item.imgProdcuto"></ion-img>
      </ion-avatar>
      <ion-label>
        <div class="rowListPedidos">
          <h2 class="centrarleft">{{ item.nameProdcuto }} x {{item.nombrePrecio}} </h2>
          <p class="centrarrigth preguntaKg">{{ item.totalPagar | currency : 'S/' }}</p>
          <ion-icon class="iconEliminar" (click)="onModalDeletePedido(item)" slot="end" name="trash"></ion-icon> 
        </div>
      </ion-label>
    </ion-item> 
  </ion-list>

 
  <div class="footerPagar"> 
    <div class="rowPagar">
      <p class="textPagar"> TOTAL: <br>{{ montoPagar | currency : 'S/'}}  </p>
      <ion-button class="botonAddCart" (click)="BuyList()">
        <p class="f-15"> Pagar </p>
        <ion-icon slot="end" name="cash-outline"></ion-icon>
      </ion-button> 
    </div>  
 </div>



 <ion-modal #modal trigger="open-modal">
  <ng-template>
    <ion-content>
      <ion-toolbar class="centrar">
        <ion-title>¿Seguro de Quitar el Pedido?</ion-title> 
      </ion-toolbar>
      <div style="display: grid;">
        <ion-button (click)="onDelete()">
          <p class="f-15"> Quitar Pedido </p>
          <ion-icon slot="end" name="checkbox-outline"></ion-icon> 
        </ion-button> 
        <ion-button (click)="onCerrarModal()">
          <p class="f-15"> Cancelar </p>
          <ion-icon slot="end" name="close-circle-outline"></ion-icon> 
        </ion-button> 
      </div>  
    </ion-content>
  </ng-template>
</ion-modal>




 